.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media only screen and (max-width: 1024px) {
    max-width: 100%;
  }
}
.info {
  font-size: 1.1rem;
  color: #77838f;
  line-height: 1.7;
}
.tag {
  display: inline-block;
  padding: 7px 15px;
  background-color: rgba(55, 125, 255, 0.1);
  color: #377dff;
  font-size: 0.8rem;
  line-height: 1.3;
  border-radius: 6rem;
}
.sectionTitle {
  font-size: 2rem;
  line-height: 1.5;
  @media (max-width: 420px) {
    font-size: 1.6rem;
  }
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.textCenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.mgB10 {
  margin-bottom: 10px;
}
.mgB20 {
  margin-bottom: 20px;
}
