.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
 }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
 }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
 }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
 }
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
 }
}
.info {
  font-size: 1.1rem;
  color: #77838f;
  line-height: 1.7;
}
.tag {
  display: inline-block;
  padding: 7px 15px;
  background-color: rgba(55, 125, 255, 0.1);
  color: #377dff;
  font-size: 0.8rem;
  line-height: 1.3;
  border-radius: 6rem;
}
.section-title {
  font-size: 2rem;
  line-height: 1.5;
}
@media (max-width: 420px) {
  .section-title {
    font-size: 1.6rem;
 }
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.mg-b10 {
  margin-bottom: 10px;
}
.mg-b20 {
  margin-bottom: 20px;
}
.icon-wrapper {
  position: relative;
  margin-bottom: 15px;
  width: 90px;
  height: 90px;
}
.icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.btn {
  background-color: #377dff;
  cursor: pointer;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 1.1rem;
  outline: none;
  border: none;
  color: white;
  padding: 16px 20px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 480px) {
  .btn {
    margin-bottom: 15px;
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
 }
}
.btn:hover {
  box-shadow: rgba(55, 125, 255, 0.35) 0px 4px 11px 0px;
  transform: translateY(-3px);
}
.bold-text {
  font-weight: 600;
  color: black;
}
